.form-page {
    background-image: linear-gradient(120deg,#D6F1FE,#A1E1FF,#00AEFF,#0078FF);
    width: 100%;
    text-align: center;
    min-height: 55vh;
}

.form-box {
    background-color: red;
    display: inline-block;
    margin: 5% 5%;
    padding: 50px 30px;
    min-width: 400px;
    max-width: 700px;
    color: white;
    border: 1px solid red;
    border-radius: 50px;
}

.form-inner-box {
    text-align: left;
    padding: 0 20px;
}

.submit-button {
    font-size: 20px;
    padding: 2px 20px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #7A0707;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-button:hover {
    background-color: gold;
    box-shadow: 3px 3px 3px 1px #7A0707;
    color: red;
}

.other-form-button {
    color: black;
    background-color: goldenrod;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #7A0707;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.other-form-button:hover {
    color: red;
    background-color: gold;
    box-shadow: 3px 3px 3px 1px #7A0707;
    text-decoration: none;
}

.other2-form-button {
    color: black;
    background-color: lightskyblue;
    text-align: center;
    padding: 2px 30px;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.other2-form-button:hover {
    color: red;
    text-decoration: underline red solid;
}

.logout-button {
    font-size: 25px;
    padding: 2px 20px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 10px;
}

.logout-button:hover {
    color: red;
    text-decoration: underline red solid;
}

.deal {
    background-color: rgb(242, 203, 9);
    color: black;
    border-radius: 30px;
    width: 80%;
    display: inline-block;
}