.searchpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.optionbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.search {
    margin-right: 100px;
}

.searchbox {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.filter-table {
    text-align: left;
    font-size: 15px;
    display: inline-block;
    margin: 0 auto;
}

.filter-table th {
    padding-right: 10px;
}

.filter-table td {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

td input {
    height: 20px;
}

.reset-search {
    position: absolute;
    right: 50px;
    bottom: 5px;
}

.entrybox {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 15px;
}

.result-table {
    text-align: center;
    border: 1px solid black;
}

.result-table th {
    border: 1px solid black;
    color: white;
    background-color: red;
    padding: 5px;
    min-width: 50px;
}

.result-table td {
    padding: 5px;
    min-width: 50px;
}

.result-table tr:nth-child(even):not(.edit-row) {
    background-color: #FFB9B9;
}

.result-table .table-title {
    border: 1px solid black;
    font-size: 30px;
}

.result-box {
    border: 1px solid black;
    padding: 20px 30px;
    font-size: 20;
}

.edit-row {
    max-width: 100%;
}

.edit-box {
    border: 1px solid red;
    max-width: 100%;
}

.edit-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

.edit-form-item {
    flex: 1 0 30%;
}