.searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.optionbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.search {
    margin-right: 100px;
}

.filter-table {
    text-align: center;
    font-size: 15px;
    background-color: lightgray;
    border: 1px solid black;
}

td input {
    height: 20px;
}

.result-table {
    text-align: center;
}

.result-table td, .result-table th {
    border: 1px solid black;
    padding: 5px;
    min-width: 50px;
}

.result-table .table-title {
    border: 1px solid black;
    font-size: 30px;
}

.result-box {
    border: 1px solid black;
    padding: 20px 30px;
    font-size: 20;
}