.report-page {
    padding-bottom: 20px;
    background-color: #E9EAEA;
    height: 100%;
    width: 100%;
}

.left-side {
    height: 100%;
    float: left;
    background-color: maroon;
    width: 10%;
    position: fixed;
    top: 0px;
    border-right: 10px solid #470101;
}

.report-box {
    margin-left: 10%;
    height: 100%;
    width: 90%;
    overflow-x: auto;
}

.flex-result-charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.flex-result-chart {
    margin: 20px;
}

.general-report-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
}

.general-report-grid-chart {
    max-width: 600px;
    max-height: 500px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

.general-report-grid-chart-large {
    width: 100%;
    max-height: 1000px;
    grid-column-end: span 3;
    grid-row-end: span 2;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
    overflow-x: auto;
}

.year-report-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
}

.year-report-grid-chart {
    max-width: 800px;
    max-height: 600px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}