.today-report-grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
}

.today-report-grid-item {
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

.today-report-grid-chart {
    grid-column-end: span 4;
    grid-row-end: span 3;
    max-width: 840px;
    max-height: 380px;
}

.med-value-box {
    max-width: 250px;
    min-width: 200px;
    height: 150px;
    text-align: center;
    padding: 10px;
}

.med-value-box-label {
    font-size: 18px;
    margin-bottom: 5px;
    height: 40%;
}

.med-value-box-value {
    font-size: 22px;
    height: 60%;
}