@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@font-face {
    font-family: "Bungee Spice";
    src: url("./fonts/BungeeSpice-Regular.ttf") format("ttf");
}

body {
    font-family: Trebuchet MS, sans-serif;
}